pages:
  stage: deploy
  image: python:3.11
  script:
    - pip install uv
    - uv pip install --system -e .[docs]
    - mkdocs build --strict --verbose
    - mv site public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH